<div class="row">
    <div class="col-md-2 col-md-offset-2">
		<img ng-src="{{myImgSrc}}">

	</div>
    <div class="col-md-3">
        <h4>Word Search</h4>
        <form ng-submit="submit()">
	        <div class="form-group">
	            <input type="text" ng-model="word" class="form-control" />
	        </div>
	        <input type="submit" class="btn btn-primary" value="Get Definitions" />
        </form>
    </div>
</div>

<div class="row caption">
	<div class="col-md-5 col-md-offset-3">


		<p>An application to find Spanish words and their definitions along with example sentences. This app is designed to get you learning Spanish words by learning their definitions in Spanish. It also is a great app to see words in their context.  These items can later be added to your vocab list to have a list of words with definitions and example sentences.</p>
		<ul>
			<li>Search for a word in the Spanish Monolingual Dictionary</li>
			<li>Select the definitions and examples you want, the application only adds to your list what you select</li>
			<li>Add the word, definitions and examples to your vocab list by pressing the ADD TO VOCAB LIST button</li>
			<li>Return to Word Search or Vocab List by using the Navigation at the top </li>
		</ul>		
	</div>
</div>