.panel-body{
	display: inline;

}

.center {
	margin-top: 100px;
}

.downshift {
	margin-top: 20px;
}

.caption{
	margin-top: 5px;
}

.listrule {
	height: 30px;
	border-top: 3px solid #555;
	width: 30%;

}