.panel-body{
	display: inline;

}

.center {
	margin-top: 100px;
}

.downshift {
	margin-top: 20px;
}

.caption{
	margin-top: 5px;
}

.home-title{
	color: #046B73;
	margin-top: 0px;
}

/* Home Page Carousel */

.carousel-indicators li {
	background-color: grey;
}

.carousel-indicators .active {
	background-color: black;
}

.img-responsive {
	min-width: 400px;
	margin: 0 auto;
}

.carousel-caption {
    top: 150px;
    color: black;
	max-height: 30%;
	margin-top: 0px;
}

header.carousel{
	height: 50%;
}

header.carousel .item,
header.carousel .item.active,
header.carousel .carousel-inner {
	height: 50%;
}

header.carousel .fill {
	width: 100%;
	height: 300px;

	background-position: center;
	background-size: cover;
}


.listrule {
	height: 30px;
	border-top: 3px solid #555;
	width: 30%;

}